<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>451648956206-vbmagvkmuqkqk2ncp6pecod174uj2dll.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.451648956206-vbmagvkmuqkqk2ncp6pecod174uj2dll</string>
	<key>API_KEY</key>
	<string>AIzaSyDghcpChdy7cQBulP5qDFF64nyxT-jDYTk</string>
	<key>GCM_SENDER_ID</key>
	<string>451648956206</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>KSU.Erad</string>
	<key>PROJECT_ID</key>
	<string>erad-system</string>
	<key>STORAGE_BUCKET</key>
	<string>erad-system.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:451648956206:ios:ece37abfb67a465f</string>
	<key>DATABASE_URL</key>
	<string>https://erad-system.firebaseio.com</string>
</dict>
</plist>